In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [2]:
dataset=pd.read_csv("diabetes_prediction_dataset.csv")
dataset

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [3]:
dataset["gender"].shape

(100000,)

In [4]:
dataset["gender"].value_counts()
dataset["smoking_history"].value_counts()

No Info        35816
never          35095
former          9352
current         9286
not current     6447
ever            4004
Name: smoking_history, dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder
encode=LabelEncoder()
label1=encode.fit_transform(dataset.gender)
label2=encode.fit_transform(dataset.smoking_history)

In [6]:
dataset["gender"]=label1

In [7]:
dataset["smoking_history"]=label2

In [8]:
dataset

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,80.0,0,1,4,25.19,6.6,140,0
1,0,54.0,0,0,0,27.32,6.6,80,0
2,1,28.0,0,0,4,27.32,5.7,158,0
3,0,36.0,0,0,1,23.45,5.0,155,0
4,1,76.0,1,1,1,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,0,80.0,0,0,0,27.32,6.2,90,0
99996,0,2.0,0,0,0,17.37,6.5,100,0
99997,1,66.0,0,0,3,27.83,5.7,155,0
99998,0,24.0,0,0,4,35.42,4.0,100,0
99999,0,57.0,0,0,1,22.43,6.6,90,0

In [32]:
#dataset=dataset.drop("Gender", axis=1)

In [9]:
dataset

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,80.0,0,1,4,25.19,6.6,140,0
1,0,54.0,0,0,0,27.32,6.6,80,0
2,1,28.0,0,0,4,27.32,5.7,158,0
3,0,36.0,0,0,1,23.45,5.0,155,0
4,1,76.0,1,1,1,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,0,80.0,0,0,0,27.32,6.2,90,0
99996,0,2.0,0,0,0,17.37,6.5,100,0
99997,1,66.0,0,0,3,27.83,5.7,155,0
99998,0,24.0,0,0,4,35.42,4.0,100,0
99999,0,57.0,0,0,1,22.43,6.6,90,0

In [10]:
dataset.describe()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
count,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,0.414660,41.885856,0.07485,0.039420,2.179650,27.320767,5.527507,138.058060,0.085000
std,0.493031,22.516840,0.26315,0.194593,1.889659,6.636783,1.070672,40.708136,0.278883
min,0.000000,0.080000,0.00000,0.000000,0.000000,10.010000,3.500000,80.000000,0.000000
25%,0.000000,24.000000,0.00000,0.000000,0.000000,23.630000,4.800000,100.000000,0.000000
50%,0.000000,43.000000,0.00000,0.000000,3.000000,27.320000,5.800000,140.000000,0.000000
75%,1.000000,60.000000,0.00000,0.000000,4.000000,29.580000,6.200000,159.000000,0.000000
max,2.000000,80.000000,1.00000,1.000000,5.000000,95.690000,9.000000,300.000000,1.000000

In [11]:
dataset.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

In [12]:
#splitting target and features
x=dataset.drop(columns='diabetes',axis=1)
y=dataset["diabetes"]

In [13]:
#Train test split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=3)
x_train

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level
97733,0,59.00,0,0,4,24.69,6.6,159
98947,1,57.00,0,1,3,25.68,4.8,126
2194,1,1.24,0,0,0,16.91,6.6,158
6622,0,45.00,0,0,5,27.32,3.5,160
96990,0,46.00,0,0,5,23.57,5.7,159
...,...,...,...,...,...,...,...,...
45671,1,7.00,0,0,0,15.92,5.0,140
78282,1,78.00,0,0,4,23.31,6.6,80
70267,0,52.00,0,0,5,27.04,4.8,145
67152,1,48.00,0,0,4,37.62,7.0,140
17895,1,78.00,0,0,3,27.32,6.5,160

In [14]:
!pip install svm

Requirement already satisfied: svm in c:\users\hp\anaconda3\envs\ml_projects\lib\site-packages (0.1.0)
Requirement already satisfied: requests in c:\users\hp\anaconda3\envs\ml_projects\lib\site-packages (from svm) (2.31.0)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\envs\ml_projects\lib\site-packages (from svm) (0.4.6)
Requirement already satisfied: xmltodict in c:\users\hp\anaconda3\envs\ml_projects\lib\site-packages (from svm) (0.14.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\envs\ml_projects\lib\site-packages (from requests->svm) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\envs\ml_projects\lib\site-packages (from requests->svm) (2022.12.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hp\anaconda3\envs\ml_projects\lib\site-packages (from requests->svm) (2.0.7)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hp\anaconda3\envs\ml_projects\lib\site-packages (from requests->svm) (3.4.1)

In [18]:
classifier=SVC(kernel='linear')
classifier.fit(x_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [19]:
x_train_pred=classifier.predict(x_train)

In [20]:
x_test_pred=classifier.predict(x_test)

In [21]:
#evaluation metrics using accuracy score
train_score=accuracy_score(x_train_pred,y_train)
test_score=accuracy_score(x_test_pred,y_test)

In [22]:
train_score

0.9597

In [23]:
test_score

0.96055

In [ ]:
#buildig a predictive system
input_data=